<div class="confirm-dialog-container">
  <div class="header flex">
    <img [src]="icon" width="35" />
    <span class="title"> {{ this.dialogData.title }} </span>
  </div>

  <div id="content" *ngIf="dialogData.content">
    {{ this.dialogData.content }}
  </div>

  <div class="actions" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <button mat-raised-button *ngIf="dialogData.alertType === alertType.Confirm" (click)="close(false)" class="cancel">
      Cancel
    </button>

    <button mat-raised-button [color]="confirmBtnColor" (click)="close()">
      Ok
    </button>
  </div>
</div>
